In [1]:
import math
import mlxtend
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori, association_rules

In [3]:
import pandas as pd

food_df = pd.read_csv (r'C:\Users\pc\Documents\Market_Basket_Optimisation.csv', sep = ',')

In [4]:
column_names = food_df.columns
for column in column_names:
    print(column + ' - ' + str(food_df[column].isnull().sum()))

shrimp - 0
almonds - 1754
avocado - 3112
vegetables mix - 4156
green grapes - 4972
whole weat flour - 5637
yams - 6132
cottage cheese - 6520
energy drink - 6847
tomato juice - 7106
low fat yogurt - 7245
green tea - 7347
honey - 7414
salad - 7454
mineral water - 7476
salmon - 7493
antioxydant juice - 7497
frozen smoothie - 7497
spinach - 7498
olive oil - 7500

In [6]:
print(len(food_df))

7500

In [9]:
food_df.isnull().sum()

shrimp                  0
almonds              1754
avocado              3112
vegetables mix       4156
green grapes         4972
whole weat flour     5637
yams                 6132
cottage cheese       6520
energy drink         6847
tomato juice         7106
low fat yogurt       7245
green tea            7347
honey                7414
salad                7454
mineral water        7476
salmon               7493
antioxydant juice    7497
frozen smoothie      7497
spinach              7498
olive oil            7500
dtype: int64

In [10]:
food_dataset = food_df.values.tolist()
big = []
for tx in food_dataset:
    small = []
    for i in tx:
        if type(i) !=str:
            continue
        else:
            small.append(i)
    big.append(small)

te=TransactionEncoder()
te_ary=te.fit(big).transform(big)    #Apply one-hot-encoding on our dataset
cleaned_tx_df=pd.DataFrame(te_ary, columns=te.columns_)

In [11]:
cleaned_tx_df.isnull().sum()

 asparagus           0
almonds              0
antioxydant juice    0
asparagus            0
avocado              0
                    ..
whole wheat pasta    0
whole wheat rice     0
yams                 0
yogurt cake          0
zucchini             0
Length: 120, dtype: int64

In [54]:
import mlxtend
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder
te=TransactionEncoder()
te_ary=te.fit(food_df).transform(food_df)   
food_df=pd.DataFrame(te_ary, columns=te.columns_)

In [20]:
from mlxtend.frequent_patterns import apriori
apriori(cleaned_tx_df, min_support=0.01)

      support       itemsets
0    0.020267            (1)
1    0.033200            (4)
2    0.010800            (7)
3    0.014267            (8)
4    0.011467           (10)
..        ...            ...
254  0.011067   (72, 71, 55)
255  0.017067  (72, 100, 55)
256  0.015733  (72, 100, 71)
257  0.010267  (72, 81, 100)
258  0.011467  (72, 82, 100)

[259 rows x 2 columns]

In [14]:
cleaned_tx_df.head()

,asparagus,almonds,antioxydant juice,asparagus,avocado,babies food,bacon,barbecue sauce,black tea,blueberries,...,turkey,vegetables mix,water spray,white wine,whole weat flour,whole wheat pasta,whole wheat rice,yams,yogurt cake,zucchini
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,True,False,False,False,False,False,...,True,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [18]:
frequent_itemsets=apriori(cleaned_tx_df, min_support=0.01, use_colnames=True) 
frequent_itemsets

      support                                 itemsets
0    0.020267                                (almonds)
1    0.033200                                (avocado)
2    0.010800                         (barbecue sauce)
3    0.014267                              (black tea)
4    0.011467                             (body spray)
..        ...                                      ...
254  0.011067       (milk, mineral water, ground beef)
255  0.017067  (spaghetti, mineral water, ground beef)
256  0.015733         (spaghetti, milk, mineral water)
257  0.010267    (spaghetti, mineral water, olive oil)
258  0.011467     (spaghetti, mineral water, pancakes)

[259 rows x 2 columns]

In [19]:
from mlxtend.frequent_patterns import association_rules 
association_rules(frequent_itemsets,metric="lift",min_threshold=0)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(avocado),(mineral water),0.033200,0.238267,0.011467,0.345382,1.449559,0.003556,1.163629
1,(mineral water),(avocado),0.238267,0.033200,0.011467,0.048125,1.449559,0.003556,1.015680
2,(cake),(burgers),0.081067,0.087200,0.011467,0.141447,1.622103,0.004398,1.063185
3,(burgers),(cake),0.087200,0.081067,0.011467,0.131498,1.622103,0.004398,1.058068
4,(chocolate),(burgers),0.163867,0.087200,0.017067,0.104150,1.194377,0.002777,1.018920
...,...,...,...,...,...,...,...,...,...
431,"(spaghetti, pancakes)",(mineral water),0.025200,0.238267,0.011467,0.455026,1.909736,0.005462,1.397744
432,"(mineral water, pancakes)",(spaghetti),0.033733,0.174133,0.011467,0.339921,1.952073,0.005593,1.251163
433,(spaghetti),"(mineral water, pancakes)",0.174133,0.033733,0.011467,0.065850,1.952073,0.005593,1.034381
434,(mineral water),"(spaghetti, pancakes)",0.238267,0.025200,0.011467,0.048125,1.909736,0.005462,1.024084
435,(pancakes),"(spaghetti, mineral water)",0.095067,0.059733,0.011467,0.120617,2.019260,0.005788,1.069235